@import "tailwindcss";
@plugin "daisyui";

/* roboto-100 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/roboto-v50-latin-100.woff2") format("woff2");
}
/* roboto-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/roboto-v50-latin-300.woff2") format("woff2");
}
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto-v50-latin-regular.woff2") format("woff2");
}
/* roboto-italic - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/roboto-v50-latin-italic.woff2") format("woff2");
}
/* roboto-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto-v50-latin-500.woff2") format("woff2");
}
/* roboto-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/roboto-v50-latin-600.woff2") format("woff2");
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/roboto-v50-latin-700.woff2") format("woff2");
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

:root {
  --bg: #010b1e;
  --bg-home: #020e26;
  --bg-footer: rgb(3, 10, 20);
  --bg-card: rgba(255, 255, 255, 0.05);
  --bg-btn: #03101a;
  --bg-btn-hover: #64ffda;
  --bg-btn-mobile: #ffffff;

  --text: #ffffff;
  --text-position: #00ffff;
  --text-btn: #ffffff;
  --text-btn-hover: #03101a;

  --border-btn-header: rgba(0, 255, 255, 0.2);
  --border-btn: #64ffda;

  --box-shadow-btn-header-hover: 0 0 25px #64ffda;
  --box-shadow-btn-hover: 0 0 20px #64ffda, 0 0 35px #00bfff;
  --box-shadow-mobile-nav: 10px 0 15px #fff, 15px 0 30px #00ffff;

  --text-shadow-nav-hover: 0 0 25px #64ffda;
  --text-hover-nav: #64ffda;
  --text-shadow-header:
    rgb(35, 75, 134) 5px 0px 20px, rgb(101, 113, 131) 0px 0px 20px;
  --text-shadow-title: 0 10px 8px #234b86, 10px 0 20px #657183;
}

[data-theme="retro"] {
  --bg: rgb(236, 227, 202);
  --bg-home: rgb(236, 227, 202);
  --bg-footer: rgb(236, 227, 202);
  --bg-card: #f5ede3;
  --bg-btn: #c3b8ab;
  --bg-btn-hover: whitesmoke;
  --bg-btn-mobile: oklch(41% 0.112 45.904);

  --text: oklch(41% 0.112 45.904);
  --text-title: oklch(39% 0.141 25.723);
  --text-position: #cc5d3d;
  --text-btn: #4a4a4a;
  --text-btn-hover: black;

  --border-btn-header: oklch(41% 0.112 45.904);
  --border-btn: #cc5d3d;

  --box-shadow-btn-header-hover:
    0 0 10px oklch(41% 0.112 45.904 / 0.4),
    0 0 25px oklch(41% 0.112 45.904 / 0.25),
    0 0 40px oklch(41% 0.112 45.904 / 0.15);
  --box-shadow-btn-hover: 0px 0px 7px #cc5d3d;
  --box-shadow-mobile-nav: 10px 0 15px #fff, 15px 0 30px #cc5d3d;

  --text-shadow-nav-hover:
    0 0 10px rgb(204 93 61 / 0.6), 0 0 25px rgb(204 93 61 / 0.35);
  --text-hover-nav: #cc5d3d;
  --text-shadow-header: none;
  --text-shadow-title: none;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}

/*-------css---------*/

.container {
  @apply mx-auto w-full max-w-[375px] px-4
         md:max-w-[768px] md:px-5
         lg:max-w-[1158px] lg:px-6;
}

/* .bg-section {
  background-color: #010b1e;
} */

/* .title-shadow {
  text-shadow:
    0 10px 8px #234b86,
    10px 0 20px #657183;
} */

/*-------Header---------*/
/* .text-glow {
  text-shadow:
    rgb(35, 75, 134) 5px 0px 20px,
    rgb(101, 113, 131) 0px 0px 20px;
} */

/*-------Home Page---------*/
@keyframes glowPulse {
  0% {
    box-shadow:
      0 0 10px #234b86,
      0 0 20px #234b86;
  }
  50% {
    box-shadow:
      0 0 15px #234b86,
      0 0 35px #234b86;
  }
  100% {
    box-shadow:
      0 0 10px #234b86,
      0 0 20px #234b86;
  }
}

.title {
  color: var(--text-title);
  text-shadow: var(--text-shadow-title);
}

.btn {
  width: fit-content;
  border-radius: 9999px;
  transition: all 0.3s ease;

  border: 2px solid var(--border-btn);
  background: var(--bg-btn);
  color: var(--text-btn);
}

/*-------About Page---------*/
summary::marker {
  color: #64ffda !important;
}

summary {
  cursor: pointer;
}

/*------------@media-768px-------------*/
@media (min-width: 768px) {
  /*------------Header-------------*/
  .nav,
  .language {
    transition: all 300ms ease;
  }

  .nav:hover,
  .nav:active {
    transform: translateY(-2px);
  }

  /*------------Home-------------*/
  .btn:hover,
  .btn:active {
    background: var(--bg-btn-hover);
    color: var(--text-btn-hover);
    box-shadow: var(--box-shadow-btn-hover);
  }
}

/* box-shadow: 0 0 0 4px oklch(39% 0.141 25.723), 0 0 50px oklch(39% 0.141 25.723 / 0.45), 0 0 100px oklch(39% 0.141 25.723 / 0.2); */
